.header {
  font-size: small;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0.2em 2.5em;
}



.header_left ul {
  display: flex;
  align-items: center;
}
.header_left li {
  padding: 0.6em;
  margin: 0.6em;
  color: grey;
  transition: 0.3s;

}
.header_left :hover :active {
    font-weight: 600;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background-color: rgb(243, 231, 231);
}


.header_right {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0.6em;
}
.header_right img {
  width: 1.5em;
  border-radius: 50%;
}
.header_right i {
  font-size: medium;
  color: grey;
}
